name: build PR

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
        contents: read
        packages: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up Java for bonej-plus
        uses: actions/setup-java@v4
        with:
           java-version: '11'
           distribution: 'zulu'
           server-id: github-bonej-plus
           server-username: ${{ secrets.PAT_USERNAME }}
           server-password: ${{ secrets.BONEJ_PLUS_REPO }}

      - name: Set up Java for beancounter repo
        uses: actions/setup-java@v4
        with:
           java-version: '11'
           distribution: 'zulu'
           server-id: github-beancounter
           server-username: ${{ secrets.PAT_USERNAME }}
           server-password: ${{ secrets.BONEJ_PLUS_REPO }}
           
# Needed if the cache is out of whack and needs to be totally refreshed
#      - name: Clear Maven cache
#        run: rm -rf ~/.m2/repository/*
      - name: Clear GitHub Maven cache
        run: |
          rm -rf ~/.m2/repository/com/github/*
          rm -rf ~/.m2/repository/io/github/*
          rm -rf ~/.m2/repository/org/bonej/*
          rm -rf ~/.m2/repository/ch/beancounter/*

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
#          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-m2

      - name: Set up CI environment
        run: .github/setup.sh

#      Needed if there's some stale artefacts or config blocking the build
      - name: Build with Maven
        run: mvn clean install -U
          
      - name: Execute the build
        run: .github/build.sh
