name: build PR

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'zulu'

# Needed if the cache is out of whack and needs to be totally refreshed
#      - name: Clear Maven cache
#        run: rm -rf ~/.m2/repository/*

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Set up Maven settings
        uses: s4u/maven-settings-action@v2
        with:
          servers: '[{"id": "github", "username": "${{ github.actor }}", "password": "${{ secrets.BONEJ_PLUS_REPO }}"}]'
          githubServer: false

      - name: Set up CI environment
        run: .github/setup.sh

#      Needed if there's some stale artefacts or config blocking the build'
      - name: Build with Maven
        run: mvn clean install -U
          
      - name: Execute the build
        run: .github/build.sh
